.main_content
	#recipe_top.row
		.col-md-4
			= image_tag @recipe.image.url(:medium), class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p.description= @recipe.description
				%p
					Submitted by
					= @recipe.user.firstname.capitalize!

	.row
		.col-md-6
			#ingredients
				%h2 Ingredients
				%ul
					- @recipe.ingredients.each do |ingredient|
						%li= ingredient.name

		.col-md-6
			#directions
				%h2 Directions
				%ul
					- @recipe.directions.each do |direction|
						%li= direction.step

	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default"
			- if (current_user && @recipe.user_id == current_user.id) || (current_user && current_user.admin?)
				= link_to "Edit", edit_recipe_path, class: "btn btn-default"
				= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"
	%h3.comment_title
		- if @recipe.comments.blank?
			%p There is no comments yet! Be first!
		- else
			Komentarzy:
			= @recipe.comments.count

	#comments
		.row
			= render :partial => @recipe.comments
			%br
			= simple_form_for [@recipe, Comment.new] do |f|
				.field
					#star-rating
					= f.text_area :body, placeholder: "Add comment",  class: "form-control"
				%br
				= f.submit "Add Comment", class: "btn btn-primary"

%script
	$('#star-rating').raty({ path: '/assets/',scoreName: 'comment[rating]' });
