.main_content
  #about_info.row
    .col-md-4
      .glyphicon.glyphicon-user
    .col-md-8
      #user_info
        %h3 #{@user.firstname.capitalize!} #{@user.lastname.capitalize!}
        %p= @user.email
        %p Added recipes: #{@recipes.count}

  #about_buttons.row
    = link_to "Edit profile", edit_user_registration_path, class: "btn btn-default"
    = link_to "My recipes", '#', class: "btn btn-default"
